*{
    box-sizing: border-box;
}

html, body{
    height: 100vh;;
}

.cabecalho{
    height: 15%;
    width: 100%;
    background-color: rgba(109, 67, 67, 1); 
    position: fixed;
 
}

.menu-foto{
    width: 7%;
    height: 100%;    
    border-radius: 50%;
    margin: 2% 0 0 2%;
    background-color: rgb(81, 83, 83);
    display: inline-block;
}

.menu-foto .minha-foto{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    align-items: center;

}

.menu-botão {
    
    display: inline-block;
    position: relative;
    width: 27%;   
    left: 60%;
    bottom: 50%;
    
  
    
}
.menu-botão > a{    
    text-decoration: none;
    padding-left: 1%;
    font-size: 4vh;
    color: white; 
}

.menu-botão > a:hover{
    border-bottom: 0.5vh solid red;
}
.one{
    background-color: aqua;
    height: 50vh;
}

.rodape{
    width: 40%;    
    margin: 0 auto;    
}
.rodape p{
    font-size: 0.8rem;
    font-style: italic;
    text-align: center;
    font-weight: bold;
}

.rodape p::before{
    content: "\201C";
    font-size: 3em;
    color: black;

}

.rodape p::after{
    content: "\201D";
    font-size: 3em;
    color: black;
}